.Featured-magic-card-creature {
  background-image: url('./../images/magic-card-creature.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Featured-magic-card-sorcery {
  background-image: url('./../images/magic-card-sorcery.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Featured-magic-card-artifact {
  background-image: url('./../images/magic-card-artifact.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
