/* .App {
  background-image: url('./images/magic-the-gathering.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
} */

.App {
  background-color: rgb(255, 255, 250, .9);
  
}